body{
	color: #1f271b;
	background-color: #E9ECEF;
	font-family: "Times New Roman", Times, serif;
}

.navbar{
	font-weight: 100;
	.navbar-brand h3 {
		color: white;
		font-weight: 100;

	}
	.nav-item {
		font-size: 1.4rem;
	}
	.nav-link{
		color: white;
	}
	.nav-link:hover {
		transition: border 0.2s;
		border-bottom: 1px solid white;
	}
	background-color: #3d5a80;	
}

@media(max-width: 768px){
	.navbar{
		.nav-link:hover{
			border-bottom: none;
		}
	}
	.card-img-top{
		display: none;
	}
	.card-title{
		text-align: center;
	}

}

img{
	max-width: 288px;
	max-height: 192px;
}
