<!doctype html>
<html lang="en">

<head>
	<title>Economist Webform</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" href="../static/css/main.css"><!--Remove on production-->
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	<link rel="shortcut icon" href="../static/favicon.ico"><!--Remove on production-->


</head>

<body>
	<div class="nav navbar navbar-dark navbar-expand-md">
		<a href="{{url_for('home')}}" class="navbar-brand">
			<h3 class="mb-0">Economist WebForm</h3>
		</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mainNavbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="{{url_for('newpub')}}" class="nav-link">New</a>
				</li>
				<li class="nav-item">
					<a href="{{url_for('editpub')}}" class="nav-link">Edit</a>
				</li>
				<li class="nav-item">
					<a href="{{url_for('updatepub')}}" class="nav-link">Forthcoming</a>
				</li>
				<li class="nav-item">
					<a href="mailto: example@example.com" class="nav-link">Ask-A-Librarian</a>
				</li>
			</ul>
		</div>
	</div>

	{% block content %}

	<div class="container">

		<div class="card-deck mt-3">
			<div class="card card-body h-100 justify-content-center">
				<img src="https://live.staticflickr.com/213/491726079_4f46636859_b.jpg" alt="" class="card-img-top">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut necessitatibus maxime repellendus quam! Officiis dolore at natus consectetur quod maiores!</p>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><button class="btn btn-primary btn-block">New publication</button></li>
				</ul>
			</div>
			<div class="card card-body h-100 justify-content-center rounded">
				<img src="https://live.staticflickr.com/213/491726079_4f46636859_b.jpg" alt="" class="card-img-top">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut necessitatibus maxime repellendus quam! Officiis dolore at natus consectetur quod maiores!</p>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><button class="btn btn-primary btn-block">Edit publication</button></li>
				</ul>
			</div>
			<div class="card card-body h-100 justify-content-center">
				<img src="https://live.staticflickr.com/213/491726079_4f46636859_b.jpg" alt="" class="card-img-top">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut necessitatibus maxime repellendus quam! Officiis dolore at natus consectetur quod maiores!</p>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><button class="btn btn-primary btn-block">Forthcoming updates</button></li>
				</ul>
				
			</div>

		</div>


	</div>


	{% endblock %}
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	
	<script src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}"></script>
	<script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>