{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-1"></div>



		<div class="col-10 ml-4 mr-4">
			<div class="jumbotron rounded" style="background-color: white;" id="jumbodoi">
				<!--Add form fields here-->
				<h1 class="text-center mb-4">New Publication</h1>
				<div class="row">
					<div class="col-1"></div>
					<div class="col-10">
						<div class="jumbotron rounded border-3 text-white"
							style="background: #000 url(&quot;{{url_for('static', filename='images/blurred-background-green.jpg')}}&quot;)"
							alt="" top center no-repeat;''>
							<h4 class="text-center mb-4">DOI Search</h4>

							<form action="" method="POST">
								<div class="form-row justify-content-center">
									<div class="col-6 input-group">
										<input type="text" id="crossref" name="doifind" class="form-control">
										<div class="input-group-append">
											<input type="submit" value="Find" class="btn btn-success">
										</div>
									</div>
								</div>
							</form>
						</div>
					
					<!--Actual form-->
					<form method="POST">
						<!--add hidden_tag for CRSF security-->
						{{ form.hidden_tag() }}
						<div class="form-group">
							<label for="title">{{form.name.label}}</label>
							<input type="text" class="form-control">
						</div>
						
					</form>
					
					
					<div class="col-1"></div>




				</div>
				<div class="row">

				</div>


			</div>
		</div>

		<div class="col-1"></div>

	</div>

</div>

<form method="POST">
	<!-- add hidden_tag for CRSF security -->
	{{ form.hidden_tag() }}
	{{ form.name.label }} {{ form.name() }}
	{{form.doi.label}}{{form.doi()}}
	{{ form.submit() }}
</form>

{{wtf.quick_form(form)}}

{% endblock %}