{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron p-4 m-4 border bg-white">
        <div class="row">
            <div class="col-6">
        <h4 class="mt-2">Success...</h4>
        <small>Thank you for submitting your new publications! The submission is now under review.</small>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <table class="table table-borderless m-5 p-5" id="borderless">
            <tbody>
                <tr>
                    <td class="border-0"><strong>Title</strong></td>
                    <td class="border-0"></td>
                    <td class="border-0">{{ session['Title'] }}</td>
                </tr>

                <tr>
                    <td class="border-0"><strong>Authors</strong></td>
                    <td class="border-0"></td>
                    <td class="border-0">
                        {% for tup in session['Author_list'] %}
                        {{tup[0]}} {{tup[1]}}<br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="border-0"><strong>Doi</strong></td>
                    <td class="border-0"></td>
                    <td class="border-0">{{ session['Doi'] }}</td>
                </tr>
                <tr>
                    <td class="border-0"><strong>Publisher</strong></td>
                    <td class="border-0"></td>
                    <td class="border-0">{{ session['Publisher'] }}</td>
                </tr>
                <tr>
                    <td class="border-0"><strong>Publication</strong></td>
                    <td class="border-0"></td>
                    <td class="border-0">{{ session['Publication'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}