{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="jumbotron p-4 m-4 border bg-white">
        <div class="row">
            <div class="col-6">
        <h4 class="mt-2">Success...</h4>
        <small>Thank you for submitting your edits! Changes are now under review.</small>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <table class="table m-5 p-5 d-flex" id="borderless">
            <tbody>
                <tr>
                    <th></th>
                    <th>Original</th>
                    <th>Edit</th>
                </tr>
                {% if session['Title-After'] is not none %}
                <tr>
                    <th><strong>Title</strong></th>
                    <td>{{ session['Title-Before'] }}</td>
                    <td>{{ session['Title-After'] }}</td>
                </tr>
                {% endif %}
                {% if session['Author_list_before']!=session['Author_list_after'] %}
                <tr>
                    <td class="border-0"><strong>Authors</strong></td>
                    <td class="border-0">
                        {% for tup in session['Author_list_before'] %}
                        {{tup[0]}} {{tup[1]}}<br>
                        {% endfor %}
                    </td>
                    <td class="border-0">
                        {% for tup in session['Author_list_after'] %}
                        {{tup[0]}} {{tup[1]}}<br>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if session['DOI-After'] is not none %}
                <tr>
                    <td class="border-0"><strong>Doi</strong></td>
                    <td class="border-0">{{session['DOI-Before']}}</td>
                    <td class="border-0">{{ session['DOI-After'] }}</td>
                </tr>
                {% endif %}
                {% if session['Publication-After'] is not none %}
                <tr>
                    <td class="border-0"><strong>Publication</strong></td>
                    <td class="border-0">{{ session['Publication-Before'] }}</td>
                    <td class="border-0">{{ session['Publication-After'] }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
