{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-1"></div>

		<div class="col-10 ml-4 mr-4">
			<div class="jumbotron rounded" style="background-color: white;" id="jumbodoi">
				<!--Add form fields here-->
				<h1 class="text-center mb-4">Update forthcoming paper</h1>
				<div class="row">
					<div class="col-1"></div>
					<div class="col-10">
						<div class="jumbotron rounded border-3 text-white"
							style="background: #000 url(&quot;{{url_for('static', filename='images/joshua-sukoff-5DDYHjk_KMU-unsplash.jpg')}}&quot;) center center no-repeat;"
							alt="">
							<div class="row">
								<div class="col"></div>
								<div class="col">
									<a href="{{url_for('dash_app')}}"
										class="btn btn-dark btn-lg justify-content-center btn-block mt-2"
										role="button">Select
										Record</a>
								</div>
								<div class="col"></div>
							</div>
						</div>

						<!--Actual form-->
						<form method="POST">
							<!--add hidden_tag for CRSF security-->
							{{ form.hidden_tag() }}
							<div class="form-group">
								{{ wtf.form_field(form.title)}}

								{{ form.submit() }}
							</div>
						</form>
						<div class="col-1"></div>
					</div>
					<div class="row">
					</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</div>

{% endblock %}