{% extends "base.html" %}

{% block content %}

<!--temporary dropdown button; will improve later -->
<h1>WebForm Landing Page!</h1>
<div class="jumbotron">
<div class="dropdown show">
	<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Dropdown link
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	  <a class="dropdown-item" href="{{ url_for('newpub') }}">Add publication</a>
	  <a class="dropdown-item" href="{{ url_for('dash_app') }}">Edit publication</a>
	  <a class="dropdown-item" href="{{ url_for('updatepub') }}">Update forthcoming paper</a>
	</div>
  </div>
</div>

{% endblock %}
